#tooltip-content {
  position: absolute;
  font-size: 15px;
  top: 0;
  transform: translateX(-50%);
  background: #000;
  color: #fff;
  white-space: nowrap;
  padding: 10px 15px;
  border-radius: 7px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.tc1{
	left: 20%;
}





#tooltip-content::before {
  content: "";
  position: absolute;
  
  top: 100%;
  transform: translateX(-70%);
  border-color: #000 #0000 #0000 #0000;
}

.sl-a:hover #tooltip-content {
  top: 120%;
  visibility: visible;
  opacity: 1;
}
